@import "variables";

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 88%;
    margin-top: 5em;
    border-radius: 20px;
    background: white;
    text-align: center;
    max-width: 450px;
}

.card-wrapper {
    padding: 2em;
}

.hero-header {
    font-weight: 900;
}

.hero-image {
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.description {
    line-height: 2;
    padding: 0 2em;
    font-weight: 500;
}

.plan-card {
    background: $very-pale-blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    .music-icon {
        object-fit: contain;
    }
    a {
        color: $bright-blue;
        text-decoration: underline;
        font-weight: 900;
    }
}

.plan-header {
    font-weight: 700;
}

.change {
    &:hover {
        cursor: pointer;
        opacity: 0.75;
    }
}

.buttons {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.btn {
    margin-bottom: 2em;
    border-radius: 20px;
}

.payment-btn {
    background: $bright-blue;
    color: white;
    padding: 1em 2.5em;
    font-weight: 700;
    &:hover {
        opacity: 0.75;
    }
}

.cancel-order-btn {
    &:hover {
        font-weight: 900;
    }
}